{{!-- to ver 2 --}}
<script src="/js/validate.min.js"></script>
{{!-- end --}}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
    {{!-- <script src="./../js/func.js"></script> --}}
</head>
<body>
    <a href="./#">Home</a>
    <a href="./zbyszek">O Mnie </a>
    <h1>25.04 - node</h1>
    {{ subTitle }}
    <h2>pierwsza strona hbs</h2>
    <h3>wejście przez: {{ newVar }}</h3>
    
    <input type="text" id="example">
    <button id="action">Klik</button>
 
    <p id="text">start</p>
    <script src="./../js/func.js"></script>
</body>
</html>
