<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
</head>
<body>
    <a href="./index">Powrót</a>
    <script src="./../js/func.js"></script>
</body>
</html>